@import '_vars';
@import '../../node_modules/normalize.css/normalize';
@import '_global';

.header {
    background-color: $main-color;
    line-height: 16px;
    color: #4F1B0A;
    position: relative;
    z-index: 10;

    &__inner,
    &__info {
        display: flex;
    }

    &__inner {
        justify-content: flex-end;
        position: relative;
    }

    &__info {
        padding: 16px 0 16px 10px;
        gap: 103px;
        align-items: center;

        &--left {
            max-width: 147px;
        }

        &--right {
            max-width: 165px;
        }

        &--mobile {
            display: none;
            color: #fff;
            padding: 16px 0 16px 0;

            line-height: 14px;
        }
    }
}

.logo {
    position: absolute;
    left: -50px;
    background-image: url(../img/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 236px;
    height: 80px;

    &__img {
        position: absolute;
        left: 30px;
    }

}

.description {
    background-color: #FDEAE1;

    &__container {
        position: relative;
    }

    &__decor--big,
    &__decor--small,
    &__decor-footer--big {
        position: absolute;
        z-index: 0;
    }

    &__decor--big {
        left: -6%;
        top: -9%;
    }

    &__decor--small {
        width: 410px;
        right: 16.5%;
        top: -6%;
    }

    &__decor-footer--big {
        left: -12%;
        bottom: 3px;
        top: auto;
    }

    &__decor-footer--small {
        right: 22%;
        top: 7px;
    }

    &__decor--mobile {
        display: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        padding: 44px 0 70px 0;

        &--footer {
            padding-top: 76px;
        }
    }

    &__info {
        max-width: 490px;
    }

    &__title {
        @extend %title-font-options;
        line-height: 47px;
        margin-bottom: 11px;
        text-transform: uppercase;
        position: relative;

    }

    &__copyright-icon {
        display: inline-block;
        position: absolute;
        top: -22px;
        font-size: 24px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 48px;
    }

    &__effect {
        display: flex;
        gap: 8px;
    }

    &__list {
        display: flex;
        flex-direction: column;

        max-width: 344px;
        color: #000000;
        font-size: 16px;
        line-height: 22px;
    }

    &__item {
        display: flex;
        gap: 16px;

        &::before {
            display: none;
            content: url(../img/list-decor.svg);
        }

        &:nth-child(1) {
            margin-bottom: 20px
        }

        &:nth-child(2) {
            margin-bottom: 40px
        }

        &:nth-child(3) {
            margin-bottom: 36px
        }
    }

    &__img {
        position: absolute;
        z-index: -1;
        left: 36.8%;
        top: 34%;

        &--footer {
            left: 36%;
            top: 40%;
        }
    }

    &-form {
        @extend %form-font-options;
        background-color: #fff;
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
        padding: 20px 32px 46px 32px;
        max-width: 384px;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateY(-9px);

        &--footer {
            transform: translateX(-35px);
        }

        &__title {
            text-align: center;
            color: #CF1647;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 31px;

            &--mobile {
                display: none;
                text-align: center;
                margin-bottom: 16px;
            }
        }

        &__price {
            display: flex;
            gap: 95px;
            padding: 0 14px;
            margin-bottom: 18px;
        }

        &__oldprice,
        &__newprice,
        &__form p {
            color: #585858;
        }

        &__oldprice {
            p:nth-child(1) {
                line-height: 18px;
                margin-bottom: 7px;
            }

            p:nth-child(2) {
                font-size: 16px;
                text-decoration-line: line-through;
                line-height: 19px;
            }

            &--mobile {
                display: none;
            }
        }

        &__newprice {
            p:nth-child(1) {
                font-size: 16px;
                line-height: 19px;
            }

            p:nth-child(2) {
                font-weight: 700;
                font-size: 26px;
                line-height: 30px;
                color: #FF6107;
                transform: translateX(-5px);
            }

            &--mobile {
                display: none;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;

            label {
                color: #131313;
                margin: 0 0 4px 8px;
            }

            p {
                text-align: center;
                margin-bottom: 16px;
                line-height: 19px;
            }
        }

        &__input {
            background-color: #F9F9F9;
            border: 1px solid #E7E7E7;
            border-radius: 4px;
            height: 40px;
            padding: 0 10px;

            &--name {
                margin-bottom: 18px;
            }

            &--phone {
                margin-bottom: 27px;
            }

            &::placeholder {
                color: #A7A7A7;
                line-height: 20px;
            }
        }

        &__button {
            font-size: 22px;
            line-height: 26px;
            padding: 17px 53px 18px 58px;
            margin-bottom: 22px;
            background-color: #FF6107;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: #db5000;
            }
        }

        &__security {
            display: flex;
            gap: 13px;

            span {
                color: #C4C4C4;
                font-size: 10px;
                line-height: 12px;
            }
        }

        &__orders--mobile,
        &__remainder--mobile {
            display: none;
        }
    }
}

.effect {
    &__inner {
        padding: 64px 0 106px 0;
    }

    &__title {
        @extend %title-font-options;
        line-height: 42px;
        text-align: center;
        margin-bottom: 75px;
    }

    &__stages {
        display: flex;
        gap: 32px;
    }

    &__stage {
        border: 1px solid #FE78B3;
        border-radius: 63px;
        padding-top: 28px;
        max-width: 384px;
        width: 100%;
        min-height: 599px;

        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            color: #FE78B3;
            margin-bottom: 25px;
        }

        &-list,
        &-item {
            display: flex;
        }

        &-list {
            flex-direction: column;
            font-size: 16px;
            line-height: 19px;
            padding: 0 32px 10px 59px;
            gap: 15px;

            &--fat {
                padding-left: 52px;
            }

            &--average {
                padding-left: 59px;
            }

            &--lean {
                padding-left: 68px;
                padding-right: 46px;
                font-size: 14px;
                line-height: 16px;
            }
        }

        &-item {
            gap: 21px;
        }

        &-item::before {
            content: url(../img/list-decor.svg);
        }

        &-img,
        &-decor {
            position: absolute;
        }

        &-img {
            bottom: 0;
        }

        &-decor {
            position: absolute;
            z-index: -1;
            bottom: 132px;
        }
    }

    &__arrow-next,
    &__arrow-prev {
        display: none;
    }
}

.swiper {

    &-button-next,
    &-button-prev {
        color: #fff;
        top: 68.5%;
        z-index: 10;
    }

    &-wrapper {
        box-sizing: border-box;
    }
}

.composition {
    background-color: $main-color;
    min-height: 978px;

    &__inner {
        padding: 66px 0 84px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        margin-bottom: 13px;
    }

    &__title,
    &__description {
        color: #fff;
        text-align: center;
    }

    &__title {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 21px;
    }

    &__description {
        max-width: 710px;
    }

    &__ellipse--big {
        background-image: url(../img/composition-ellipse.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        max-width: 476px;
        width: 100%;
        height: 476px;
    }

    &__ellipse--small,
    &__capsule-img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
    }

    &__ellipse--small {
        background-image: url(../img/composition-ellipse.svg);
        background-repeat: no-repeat;
        background-size: contain;

        max-width: 335px;
        height: 335px;

        transform: translate(-50%, -50%);
    }

    &__capsule-img {
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #fff;
        border: 8px solid #fff;
        border-radius: 70px;
        max-width: 140px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #FFFFFF;
        border-radius: 63px;
        position: absolute;
        max-width: 304px;
        width: 100%;
        min-height: 196px;


        &--mango {
            left: -57%;
            top: 4%;
        }

        &--gotu {
            flex-direction: row-reverse;
            left: -57%;
            top: 51%;
        }

        &--tamarind {
            bottom: -39%;
            left: -17%;
        }

        &--hudia {
            flex-direction: row-reverse;
            bottom: -39%;
            right: -17%;
        }

        &--asai {
            right: -57%;
            top: 51%;
        }

        &--blueberry {
            flex-direction: row-reverse;
            right: -57%;
            top: 4%;
        }

        &-img {
            background-image: url(../img/berries-ellipse.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            width: 88px;
            height: 88px;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: none;
            }
        }

        &-info--mango {
            max-width: 168px;
        }

        &-info--gotu {
            max-width: 143px;
        }

        &-info--tamarind {
            max-width: 165px;
        }

        &-info--gordonii {
            max-width: 143px;
        }

        &-info--asai {
            max-width: 148px;
        }

        &-info--blueberry {
            max-width: 144px;
        }

        &-title {
            max-width: 135px;
            margin-bottom: 5px;

            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        &-text {
            line-height: 20px;
        }
    }


}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    padding: 0 16px;
    transition: all .3s ease-in-out;

    &__active {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        display: flex;
        max-width: 1008px;
        width: 100%;
        position: relative;
        background-color: #fff;
    }

    &__img {
        background-color: $main-color;
    }

    &__content,
    &__img {
        padding: 38px 88px 40px 64px;
        width: 100%;
    }


    &__content {
        @extend %form-font-options;
    }

    &__title,
    &__timer,
    &__alert,
    &__promoprice,
    &__orders {
        text-align: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 22px;
    }

    &__timer {
        display: flex;
        gap: 32px;
        justify-content: center;
        margin-bottom: 25px;
        color: #fff;

        &-hours,
        &-minutes,
        &-seconds {
            padding: 7px 20px 12px 20px;
            background-color: #FFBC53;
            border-radius: 3px;

            p:nth-child(1) {
                font-weight: 700;
                font-size: 48px;
                line-height: 65px;
            }

            p:nth-child(2) {
                color: #F9F9F9;
            }
        }

        &-hours,
        &-minutes {
            position: relative;

            &::after {
                position: absolute;
                content: url(../img/timer-dots.svg);
                right: -20px;
                bottom: 30px;
            }
        }
    }

    &__alert {
        font-weight: 700;
        color: #FF003D;
        margin-bottom: 23px;
    }

    &__promoprice {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 21px;

        p {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;

            color: #FF003D;
        }
    }

}

.alert-modal {
    position: fixed;
    top: -40%;
    right: 10px;
    z-index: 100;
    transition: top .3s ease-in-out;

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 17px;

        position: relative;
        padding: 25px 64px 19px 41px;

        color: #FFFFFF;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
        border-radius: 32px;
        background: linear-gradient(97.42deg, #E04DED 2.92%, #FB4E9A 100%);
    }

    &__close-icon {
        position: absolute;
        right: 19px;
        top: 16px;
        cursor: pointer;
    }

    &__description {
        max-width: 234px;
        font-size: 18px;
        line-height: 1.3;

        p:nth-child(1) {
            margin-bottom: 6px;
        }

        p:nth-child(2) {
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
        }
    }

    &__active {
        top: 2%;
    }


}

@media (max-width: 1243px) {
    .container {
        max-width: 970px;
    }

    .logo {
        left: -20px;
    }

    .description {
        &__decor--big {
            transform: rotate(-90deg);
            left: -30%;
            top: 24%;
        }

        &__decor-footer--big {
            left: -39%;
            top: 14%;
        }

        &__decor-footer--small {
            right: 15%;
        }

        &__item {
            &::before {
                display: inline;
                content: url(../img/list-decor.svg);
            }
        }

        &__capsule-img {
            display: none;
        }

        &__img {
            left: 30.5%;
            top: 41%;
        }

    }

    .effect {
        &__stages {
            gap: 0;
        }

        &__arrow-next,
        &__arrow-prev {
            display: block;
        }
    }

}

@media(max-width: 1062px) {
    .composition {
        &__description {
            margin-bottom: 20px;
        }

        &__ellipse--big {
            background-image: none;
            max-width: none;
            height: auto;
        }

        &__ellipse--small {
            display: none;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        &__item {
            position: static;
        }
    }
}

@media (max-width: 998px) {
    .container {
        max-width: 750px;
    }

    .description {
        &__decor--small {
            right: 30px;
        }

        &__decor-footer--big {
            left: -50%;
        }

        &__inner {
            gap: 35px;
        }

        &__info {
            max-width: 350px;
        }

        &__img {
            display: none;
        }

        &-form {
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;

            &__price {
                gap: 80px;
            }

            &__button {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }

    .pop-up {
        &__img {
            display: none;
        }
    }


    .swiper {

        &-button-next,
        &-button-prev {
            top: 70.5%;
        }
    }

}

@media (max-width: 767px) {
    .container {
        max-width: none;
        margin: 0;
    }

    .description__container {
        padding: 0;
    }

    .header {
        &__info {
            gap: 30px;
        }
    }

    .logo {
        left: 0;
    }

    .description {
        &__decor--big {
            width: 500px;
            left: -16%;
            top: 25%;
            max-width: none;
        }

        &__decor--small {
            display: block;
            width: 268px;
            transform: rotate(90deg);
            right: -38px;
            top: 0;
        }

        &__decor-footer--big {
            left: -20%;
        }

        &__decor-footer--small {
            display: none;
        }

        &__decor--mobile {
            top: 37px;
        }

        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 26px;
            padding-bottom: 0;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: none;
            padding: 0 15px;
        }

        &__title,
        &__subtitle {
            text-align: center;
        }

        &__img {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            max-width: 400px;
            width: 110%;

            &-box {
                position: relative;
                max-width: 400px;
                width: 100%;
                height: 350px;
                overflow: hidden;
            }
        }

        &__effect {
            justify-content: center;
        }

        &-form {
            max-width: none;
            box-shadow: none;
            border-radius: 0;
            transform: none;
            padding-top: 30px;

            &__title {
                display: none;

                &--mobile {
                    display: block;
                }
            }

            &__price {
                justify-content: space-between;
                gap: 70px;
            }

            &__button {
                margin-bottom: 9px;
            }

            &__security {
                display: none;
            }

            &__orders--mobile {
                display: block;
                text-align: center;
            }

            &__remainder {
                display: none;

                &--mobile {
                    display: block;
                }
            }
        }
    }

    .pop-up {
        display: none;
    }

    .effect {
        &__stage {
            max-width: 304px;
            min-height: 516px;

            &-title {
                margin-bottom: 18px;
            }

            &-list {
                font-size: 14px;
                line-height: 16px;
                padding-left: 34px;
                padding-right: 35px;
            }

            &-img {
                height: 291px;
            }

            &-decor {
                bottom: 112px;
            }
        }
    }


}

@media (max-width: 658px) {
    .logo {
        display: none;
    }

    .header {
        min-height: 46px;

        &__inner {
            justify-content: center;
        }

        &__info {
            display: none;

            &--mobile {
                display: block;
                font-size: 16px;
            }
        }
    }

    .composition {
        &__item {
            max-width: 400px;
        }
    }

}

@media (max-width: 576px) {
    .header {
        &__info--mobile {
            font-size: 12px;
        }
    }

    .description {
        &__decor--big {
            width: 375px;
            left: -35%;
            top: 29%;
        }

        &__title {
            font-size: 22px;
            line-height: 28px;
        }

        &__copyright-icon {
            position: static;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 20px;
        }

        &__list {
            padding: 0 22px;
            gap: 12px;
            font-size: 14px;
            line-height: 20px;
        }

        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4) {
            margin: 0;
        }

        &-form {
            &__title--mobile {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }

            &__input {
                height: 32px;

                &--name {
                    margin-bottom: 11px;
                }

                &--phone {
                    margin-bottom: 21px;
                }
            }

            &__oldprice {
                display: none;

                &--mobile {
                    display: block;
                    color: #A7A7A7;

                    p:nth-child(2) {
                        text-decoration: line-through;
                        text-transform: uppercase;
                    }
                }
            }

            &__newprice {
                display: none;

                &--mobile {
                    display: block;
                    transform: translateY(-5px);

                    p:nth-child(1) {
                        color: #585858;
                        margin-bottom: 6px;
                    }

                    p:nth-child(2) {
                        position: relative;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 26px;

                        text-align: center;
                        text-transform: uppercase;

                        color: #DB484B;
                    }

                    p:nth-child(2)::after {
                        content: "*";
                        font-size: 10px;
                        position: absolute;
                        top: -10px;
                        right: 17px;
                    }

                }
            }

        }

    }

    .effect {
        &__title {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 32px;
        }

        &__inner {
            padding-bottom: 95px;
        }
    }

    .composition {
        &__inner {
            padding-top: 40px;
            padding-bottom: 44px;
        }

        &__title {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 17px;
        }

        &__description {
            text-align: left;
        }
    }

    .swiper {

        &-button-next,
        &-button-prev {
            top: 69.2%;
        }

        &-button-next{
            width: auto;
        }

        &-button-next::after,
        &-button-prev::after {
            font-size: 33px;
        }
    }
}

@media (max-width: 416px) {
    .effect__stage{
        max-width: none;
    }

    .description__subtitle {
        margin-bottom: 15px;
    }
}